{% load static %}

<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                <a href="https://instagram.com/vikko.beauty_uz?igshid=YmMyMTA2M2Y=" class="topbar-social-item fa fa-instagram"></a>
                <a href="https://t.me/yana_vikkobeauty" class="topbar-social-item fa fa-telegram"></a>
                <a href="https://api.whatsapp.com/send?phone=998907990880" class="topbar-social-item fa fa-whatsapp"></a>
            </div>

            {#            <span class="topbar-child1" style="margin-left: 10px">#}
            {#                Доставка по вс ему Узбекистану и номер телефона +998907990880#}
            {#					Курс: 1$ = {{ config.CURRENCY }} sum#}
            {#				</span>#}

            <div class="topbar-child2">
					<span class="topbar-email" style="margin-bottom: 10px">
                        <a style="font-size: 12.5px" href="{% url 'delivery' %}">Доставка</a> по всему Узбекистану<br>
                        <span style="margin-bottom: 15px">Телефон  +998907990880</span>
					</span>

                <div class="topbar-language rs1-select2">
                    {#                    <select class="selection-1" name="time">#}
                    {#                        <option>RU</option>#}
                    {#                        <option>UZ</option>#}
                    {#                    </select>#}
                </div>
            </div>
        </div>

        <div class="wrap_header">
            <!-- Logo -->
            <a href="{% url 'home-page' %}" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="IMG-LOGO">
            </a>

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">

                        <li>
                            <a href="{% url 'shop' %}">Магазин</a>
                        </li>

                        <li>
                            <a href="{% url 'wholesaler-form' %}">Оптовикам</a>
                        </li>

                        <li>
                            <a href="{% url 'about-us' %}">Информация о компании</a>
                        </li>

                        <li>
                            <a href="{% url 'blog-page' %}">Блог</a>
                        </li>

                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons">
                <div class="search-product pos-relative bo4 of-hidden" style="margin-right: 20px;">
                    <form action="{% url 'shop' %}" method="GET">
                        <input class="s-text7 size4 p-l-23 p-r-50" style="height: 50px;" type="text" name="search"
                               placeholder="Поиск товаров...">

                        <button type="submit" class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                            <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="header-wrapicon1 dis-block">
                        <img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
                    </a>
                {% else %}
                    <a href="{% url 'profile' %}" class="header-wrapicon1 dis-block">
                        <img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
                    </a>
                    <span class="linedivide1"></span>

                    <div class="header-wrapicon2">
                        <img src="{% static 'images/icons/love.png' %}"
                             class="header-icon1 js-show-header-dropdown" alt="ICON">

                        <!-- Header cart noti -->
                        {% include 'parts/wish-list.html' %}
                    </div>

                {% endif %}

                <span class="linedivide1"></span>

                <div class="header-wrapicon2">
                    <img src="{% static 'images/icons/icon-header-02.png' %}"
                         class="header-icon1 js-show-header-dropdown" alt="ICON">
                    {% if cart.get_count_items == 0 %}
                        <span class="header-icons-noti">0</span>
                    {% else %}
                        <span class="header-icons-noti"
                              style="background-color: #ff4949;">{{ cart.get_count_items }}
                        </span>
                    {% endif %}
                    <!-- Header cart noti -->
                    {% include 'parts/cart.html' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="{% url 'home-page' %}" class="logo-mobile">
            <img src="{% static 'images/logo.png' %}" alt="IMG-LOGO">
        </a>
        {#        <span class="topbar-email">#}
        {#                        <a href="{% url 'delivery' %}">Доставка</a> по всему Узбекистану<br>#}
        {#                        Телефон  +998907990880#}
        {#					</span>#}
        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="header-wrapicon1 dis-block">
                        <img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
                    </a>
                {% else %}
                    <a href="{% url 'profile' %}" class="header-wrapicon1 dis-block">
                        <img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
                    </a>
                {% endif %}
                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img src="{% static 'images/icons/icon-header-02.png' %}"
                         class="header-icon1 js-show-header-dropdown" alt="ICON">
                    {% if cart.get_count_items == 0 %}
                        <span class="header-icons-noti">0</span>
                    {% else %}
                        <span class="header-icons-noti"
                              style="background-color: #ff4949;">{{ cart.get_count_items }}
                        </span>
                    {% endif %}
                    <!-- Header cart noti -->
                    {% include 'parts/cart.html' %}
                </div>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu">
        <nav class="side-menu">
            <ul class="main-menu">

                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a href="#" class="topbar-social-item fa fa-facebook"></a>
                        <a href="#" class="topbar-social-item fa fa-instagram"></a>
                        <a href="#" class="topbar-social-item fa fa-telegram"></a>
                        <a href="#" class="topbar-social-item fa fa-whatsapp"></a>
                        <br>
                        <span class="topbar-email">
                        <a href="{% url 'delivery' %}">Доставка</a> по всему Узбекистану Телефон +998907990880
                        </span>
                    </div>
                </li>

                <li class="item-menu-mobile">
                    <a href="{% url 'shop' %}">Магазин</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{% url 'wholesaler-form' %}">Оптовикам</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="#">Информация о компании</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{% url 'blog-page' %}">Блоги</a>
                </li>

            </ul>
        </nav>
    </div>
</header>