{% load static %}
<section class="blog bgwhite p-t-94 p-b-65">
    <div class="container">
        <div class="sec-title p-b-52">
            <h3 class="m-text5 t-center">
                КАК СДЕЛАТЬ ЗАКАЗ
            </h3>
            <h5 class="m-t-1 t-center">Следуйте шагам</h5>
        </div>

        <div class="row">
            <div class="col-sm-10 col-md-2 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <span href="" class="block3-img dis-block hov-img-zoom">
                        <img src="{% static 'images/icons/cart.png' %}" alt="IMG-BLOG" style="width: 80%">
                    </span>

                    <div class="block3-txt p-t-14">
                        <h4 class="p-b-7 t-center m-text11" >
                               ДОБАВИТЬ В КОРЗИНУ
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-2 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <span class="block3-img dis-block hov-img-zoom">
                        <img src="{% static 'images/icons/order.png' %}" alt="IMG-BLOG" style="width: 80%">
                    </span>

                    <div class="block3-txt p-t-14">
                        <h4 class="p-b-7 t-center m-text11">

                                ПОДТВЕРДИТЬ ЗАКАЗ

                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-2 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <span class="block3-img dis-block hov-img-zoom"  >
                        <img src="{% static 'images/icons/logo.png' %}" alt="IMG-BLOG" style="width: 80%">
                    </span>

                    <div class="block3-txt p-t-14">
                        <h4 class="p-b-7 t-center m-text11">

                                УТОЧНЕНИЕ ДЕТАЛЕЙ

                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-2 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <span class="block3-img dis-block hov-img-zoom" >
                        <img src="{% static 'images/icons/img_3.png' %}" alt="IMG-BLOG" style="width: 80%">
                    </span>

                    <div class="block3-txt p-t-14">
                        <h4 class="p-b-7 t-center m-text11">

                               ОПЛАТИТЬ ЗАКАЗ

                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-2 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <span class="block3-img dis-block hov-img-zoom">
                        <img src="{% static 'images/icons/img_2.png' %}" alt="IMG-BLOG" style="width: 80%">
                    </span>

                    <div class="block3-txt p-t-14">
                        <h4 class="p-b-7 t-center m-text11">
                                ПОЛУЧИТЬ ЗАКАЗ
                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>