{% load static %}
<section class="shipping bgwhite p-t-62 p-b-46">
    <div class="flex-w p-l-15 p-r-15">
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                Курс: 1$ = {{ config.CURRENCY }} сум
            </h4>

            <a href="#" class="s-text11 t-center">

            </a>
        </div>

        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
            <h4 class="m-text12 t-center">
                30 дней возврата
            </h4>

            <span class="s-text11 t-center">
					Просто верните его в течение 30 дней для обмена.
				</span>
        </div>

        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                Открытие магазина
            </h4>

            <span class="s-text11 t-center">
					Магазин открыт с понедельника по воскресенье
				</span>
        </div>
    </div>
</section>