{% load static %}
<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
    <a href="{% url 'home-page' %}" class="s-text16">
        Главная
        <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
    </a>

    <a href="{% url 'shop' %}" class="s-text16">
        Каталог
        <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
    </a>

    <a href="/shop/?category={{ product.category.id }}" class="s-text16">
        {{ product.category.name }}
        <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
    </a>

    <span class="s-text17">
        {{ product.title }}
	</span>
</div>
