{% load static %}
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="flex-w p-b-90">
        <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                СВЯЗАТЬСЯ
            </h4>

            <div>
                <p class="s-text7 w-size27">
                    +99890-799-08-80<br>
                    Vikko.uz@gmail.com<br>
                    Г. Ташкент Афросиаб 29/1 (ориентир Корейское посольство)<br>
                    Время работы 9:00-21:00 Пн-Вс<br>

                </p>

                <div class="flex-m p-t-30">
                    <a href="https://instagram.com/vikko.beauty_uz?igshid=YmMyMTA2M2Y=" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                    <a href="https://t.me/yana_vikkobeauty" class="fs-18 color1 p-r-20 fa fa-telegram"></a>
                    <a href="https://api.whatsapp.com/send?phone=998907990880" class="fs-18 color1 p-r-20 fa fa-whatsapp"></a>
                </div>
            </div>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Категории
            </h4>

            <ul>
                {% for footer_cat in footer_cats %}
                    <li class="p-b-9">
                        <a href="{% url 'shop' %}?category={{ footer_cat.id }}" class="s-text7">
                            {{ footer_cat.name }}
                        </a>
                    </li>
                {% endfor %}


            </ul>
        </div>

        {#        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">#}
        {#            <h4 class="s-text12 p-b-30">#}
        {#                Ссылки#}
        {#            </h4>#}
        {##}
        {#            <ul>#}
        {#                <li class="p-b-9">#}
        {#                    <a href="#" class="s-text7">#}
        {#                        Поиск#}
        {#                    </a>#}
        {#                </li>#}
        {##}
        {#                <li class="p-b-9">#}
        {#                    <a href="#" class="s-text7">#}
        {#                        О нас#}
        {#                    </a>#}
        {#                </li>#}
        {##}
        {#                <li class="p-b-9">#}
        {#                    <a href="#" class="s-text7">#}
        {#                        Свяжитесь с нами#}
        {#                    </a>#}
        {#                </li>#}
        {##}
        {#                <li class="p-b-9">#}
        {#                    <a href="#" class="s-text7">#}
        {#                        Возвраты#}
        {##}
        {#                    </a>#}
        {#                </li>#}
        {#            </ul>#}
        {#        </div>#}

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Помощь
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="{% url 'payment-return' %}" class="s-text7">
                        Оплата и Возврат
                    </a>
                </li>

                {#                <li class="p-b-9">#}
                {#                    <a href="#" class="s-text7">#}
                {#                        Возвраты#}
                {#                    </a>#}
                {#                </li>#}

                <li class="p-b-9">
                    <a href="{% url 'delivery' %}" class="s-text7">
                        Доставка
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Часто задаваемые вопросы
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                Новостная рассылка
            </h4>

            <form>
                <div class="effect1 w-size9">
                    <input class="s-text7 bg6 w-full p-b-5" type="text" name="email"
                           placeholder="alimandeveloper@gmail.com">
                    <span class="effect1-line"></span>
                </div>

                <div class="w-size2 p-t-20">
                    <!-- Button -->
                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                        Подписывайся
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="t-center p-l-15 p-r-15">
        <a href="#" style="margin-right: 5px">
            <img class="h-size2" src="{% static 'images/icons/payme.png' %}" alt="IMG-PAYPAL">
        </a>
        <a href="#">
            <img class="h-size2" src="{% static 'images/icons/click.png' %}" alt="IMG-PAYPAL">
        </a>
        <a href="#">
            <img class="h-size2" src="{% static 'images/icons/Apelsin.png' %}" alt="IMG-PAYPAL">
        </a>
        <a href="#">
            <img class="h-size2" src="{% static 'images/icons/oson.png' %}" alt="IMG-PAYPAL">
        </a>

        <a href="#">
            <img class="h-size2" src="{% static 'images/icons/Uzcard.png' %}" alt="IMG-VISA">
        </a>

        <a href="#">
            <img class="h-size2" src="{% static 'images/icons/visa.png' %}" alt="IMG-VISA">
        </a>

        <a href="#">
            <img class="h-size2" src="{% static 'images/icons/mastercard.png' %}" alt="IMG-MASTERCARD">
        </a>


        <div class="t-center s-text8 p-t-20">
            Copyright © 2022 Все права защищены. | Этот сайт сделан <i class="fa fa-heart-o"
                                                                       aria-hidden="true"></i> в <a
                href="#" target="_blank">Test</a>
        </div>
    </div>
</footer>
